@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Reset some default browser styles */
body,
h1,
h2,
p,
ul {
  margin: 1;
  padding: 9;
  color: #ffffff;

  background-image: url(project-assets/07_wallpapers/pngtree-technology-data-line-business-image_19045.jpg);
}

h1 {
  text-align: center;
  font-family: jetbrains sans-serif;
  font-size: larger;
  /* color: #ffffff; */
  /* background-color: rgb(0, 0, 0) ; */
  text-shadow: 0 0 10px #e7d5d5;
  transition: font-size 2.3s ease;
}

h1:hover {
  transform: scale(1.2);
}

body {
  font-family: "JetBrains Mono", monospace;
  /* background-color: #570101a1; */
  text-align: center;
}


header {
  background-color: #050b0f29;
  color: #ffffff;
}
header:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 3rem;
}

.content {
  background-color: #34134f1d;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.788);
}

h2 {
  color: #d2e8ff;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

footer {
  background-color: #a5c6e73c;
  color: #ffffff;
  padding: 10px;
}

.content h2{
  font-size:xx-large;
 
}
 h2:hover{
  transform: scale(1.3);
 }

h3{
  background-color: #34134f00;
  padding: 1cm;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2px;
  font-weight: 200; border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.788);
}


.intro button{
 color: rgb(249, 249, 249);
  background-color: #9377b08e;
   font-size: larger;
   padding: 6px;
   
}


div{
  color: #ffffff;
  /* background-color: #34134f00; */
  padding: 1cm;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 9px;
  font-weight: 600; border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.863);
}

.dis button{
  color: rgba(249, 249, 249, 0.795);
  background-color: #ad94c971;
   font-size: larger;
   padding: 6px;

}



button:hover {
  transform: scale(1.2);
  color: #ffffff;
  background-color: #34134f00;
  padding: 1cqmax;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 9px;
  font-weight: 600; border-radius: 2px;
  box-shadow: 0 0 10px rgb(255, 255, 255)
}


h1 {
  text-align: center;
  font-family: jetbrains sans-serif;
  font-size: larger;
  /* color: #ffffff; */
  /* background-color: rgb(0, 0, 0) ; */
  text-shadow: 0 0 10px #e7d5d5;
  transition: font-size 2.3s ease;
}

h1:hover {
  transform: scale(1.2);
}

body {
  font-family: "JetBrains Mono", monospace;
  /* background-color: #570101a1; */
  text-align: center;
}

header {
  background-color: #050b0f00;
  /* color: #ffffff; */
}
header:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 3rem;
}

.content {
  background-color: #34134f1d;
  padding: 20px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(249, 249, 249);
}

h2 {
  /* color: #d2e8ff; */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

footer {
  background-color: #a5c6e73c;
  /* color: #ffffff; */
  padding: 10px;
}
/* .head{
  background: rgb(16, 21, 45);    
  display: block;   
   height: 100%; 
      left: 0px; 
         opacity: 0; 
            padding: 12px 0px;    position: fixed;    top: 0px;    transition: all 0.5s ease 0s;    visibility: hidden;    width: 100%;    z-index: 500;
} */

h3 {
  color: #d2e8ff;
  font-size: 1.5rem;
  margin-bottom: 10px;
 background-color: #34134f00;
  padding: 1cm;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2px;
  font-weight: 200; border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.788);
}
div{
  color: #ffffff;
  /* background-color: #34134f00; */
  padding: 1cm;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 9px;
  font-weight: 600; border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.863);
}

.dis button{
  color: rgba(249, 249, 249, 0.795);
  background-color: #ad94c971;
   font-size: larger;
   padding: 6px;

}



button:hover {
  transform: scale(1.2);
  color: #ffffff;
  background-color: #34134f00;
  padding: 1cqmax;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 9px;
  font-weight: 600; border-radius: 2px;
  box-shadow: 0 0 10px rgb(255, 255, 255)
}
.prize-info{
  background-color: #34134f00;
  padding: 1cm;
  color: #d2e8ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2px;
  font-weight: 200; border-radius: 2px;
  box-shadow: 0 0 10px rgba(228, 221, 221, 0.788);
}

=======
}
